body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color:#3CDBC0; 
}

header { 
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fff;
    text-align: center;
    padding: 10px auto;
    width: 100vw;
}

.header_logo {
    text-align: center;
    width: 155px;
    margin: 10px auto;
}

.nav_list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.nav_item {
    padding: 10px 20px 13px;
}

.nav_link {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 16px;
}

main {
    display: flex;
    align-content: center;
}


.main_text {
    display: flex;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 250px 100px;
}

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    .header_logo {
        text-align: left;
}