body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color:#3CDBC0;
    box-sizing: border-box; 
    width: 100vw;
}

header { 
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fff;
    text-align: center;
    width: 100%;
}

.header_logo {
    text-align: center;
    width: 155px;
    margin: 10px 0;
}

.nav_main {
    align-self: center;
}

.nav_list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.nav_item {
    padding: 0 10px;
    margin: 13px 0;
}

.nav_link {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    align-content: center;
    height: 100vh;
}


.main_text {
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: auto;
    width: 200px;
}

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    .header_logo {
        text-align: left;
    }

    .main_text {
        display: flex;
        margin: 0 auto;
        font-size: 40px;
        text-align: center;
        padding-top: 200px;
    }

    .nav_main {
        margin-right:30px;
    }
    
    .nav_list {
        margin-right: 30px;
    }
}
